<h1> This is DashBoard of User </h1>

<% if current_user %>
  Logged in as <%= current_user.email %>
  <%= link_to 'Log Out', logout_path %>
<% else %>
  <%= link_to 'Sign Up', signup_path %> 
  <%= link_to 'Log In', login_path %>
<% end %>
<p id=”notice”><%= notice %></p>

<h1>Listing Products</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
        <td><%= link_to 'Show', dashboard_user_path %></td>
        <td><%= link_to 'Edit', dashboard_user_path %></td>
        <td><%= link_to 'Destroy', dashboard_user_path, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        
  </tbody>

</table>