<h1>Enter Details</h1>
<%= form_for @user, url: users_path, method: :post do |f| %>

<% if @user.errors.any? %>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
<% end %>

<%= f.label :name, "Full Name" %>
<%= f.text_field :name, class: 'form-control' %>  <br />

<%= f.label :email, "Email ID" %>
<%= f.text_field :email, class: 'form-control' %>  <br />

<%= f.label :password, "Password" %>
<%= f.password_field :password,  class: 'form-control' %>  <br />

<%= f.label :password_confirmation, "Confirm Password" %>
<%= f.password_field :password_confirmation,  class: 'form-control' %>  <br />

<%= f.submit "Create account", class: "button CreateAccount" %>

<% end %>

<p>
<h3>Already a Member!! Sign In Here</h3>
<%= button_to "Sign In", new_session_path, :method => "get" %>
</p>
