<p>
  <a style="font-family:Comic Sans MS; color:#FF0000" href="#">ELECTROCART</a> || 
  <% if current_user %>
    Logged in as: <a style="font-family:Comic Sans MS; color:#FF0000; text-align: right"> <%= current_user.email %></a> || <%= link_to 'Signout', destroy_user_session_path %>
  <% else %>
    <%= link_to 'Signin', user_session_path %>
  <% end %>
</p>

<table>
  <thead>
    <tr>
      <th>Name </th>
      <th>Price </th>
      <th>Description </th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.price %></td>
        <td><%= product.description %></td>

        <td><%= link_to 'Show', product %></td>

      </tr>
    <% end %>
  </tbody>
</table>

