<p><a href="#">DashBoard</a> || <%= link_to 'Setting', edit_user_registration_path %> || Logged in as: <a style="font-family:Comic Sans MS; color:#FF0000; text-align: right"><%= current_user.email %></a> || <%= link_to 'Logout', destroy_user_session_path, data: { confirm: 'Are you sure want to logout?' }, method: :delete %></p>
<br>

<h1>Your Products :</h1>
<%= link_to 'Add New Product', new_product_path %>
<br>

<table>
  <thead>
    <tr>
      <th>Name </th>
      <th>Price </th>
      <th>Description </th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.price %></td>
        <td><%= product.description %></td>

        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product.id) %></td>
        <td><%= link_to 'Destroy', product_path(product.id), data: { confirm: 'Are you sure?' }, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

