<h1>Product Details</h1>

<p>
	<strong>Product Name:</strong>
	<%= @product.name %>
</p>
<p>
	<strong>Product Details:</strong>
	<%= @product.details %>
</p>
<p>
	<strong>Product Quantity Available:</strong>
	<%= @product.quantity %>
</p>
<p>
	<strong>Product price:</strong>
	<%= @product.price %>
</p>
<%= link_to 'Back', products_home_path %>