<%= form_with scope: :product, url: seller_dashboard_path, local: true do |form| %>
  
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
 
  <p>
    <%= form.label :details %><br>
    <%= form.text_area :details %>
  </p>
 
  <p>
    <%= form.label :quantity %><br>
    <%= form.text_area :quantity %>
  </p>

  <p>
    <%= form.label :price %><br>
    <%= form.text_area :price %>
  </p>

  <p>
    <%= form.add %>
  </p>
<% end %>

<%= link_to 'Back', seller_dashboard_path %>