<h1>This is Your DashBoard:</h1>
<h1>Listing Products</h1>
 <%= link_to 'Add New Product', seller_new_path %>
<table>
  <tr>
    <th>Name</th>
    <th>Details</th>
    <th>Quantity</th>
    <th>Price</th>
    <th></th>
  </tr>
 
  <% @products.each do |product| %>
    <tr>
      <td><%= product.name %></td>
      <td><%= product.details %></td>
      <td><%= product.quantity %></td>
      <td><%= product.price %></td>
      <td><%= link_to 'Show', seller_new_path(product) %></td>
    </tr>
  <% end %>
</table>