<h1>Enter Details</h1>
<%= form_for @seller, url: seller_create_path, method: :post do |f| %>

<% if @seller.errors.any? %>
      <% @seller.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
<% end %>

<br />
<%= f.label :name, "Full Name" %>
<%= f.text_field :name, class: 'form-control' %>  <br />

<%= f.label :email_id, "Email ID" %>
<%= f.text_field :email_id, class: 'form-control' %>  <br />

<%= f.label :mobile_no, "Mobile Number" %>
<%= f.text_field :mobile_no, class: 'form-control' %>  <br />

<%= f.label :password, "Password" %>
<%= f.text_field :password,  class: 'form-control' %>  <br />

<%= f.submit "Create account", class: "button CreateAccount" %>  <br />

<% end %>
