<h1>Welcome to Shopping cart application</h1>
<%= image_tag ("/assets/cart.jpg"),:size => '400x400' , class: "img-responsive"%>
<p>If you are Seller
<%= link_to 'Click Here', "login/logindetails" %>
</p>





<!--
<p>If you are Buyer
<%= link_to 'Click Here', "products/home" %>
</p>
-->
