
<h1>Enter Login Credentials</h1>

<%= form_tag login_create_path, method: :post do %>

<%= label_tag :email_id, "Email ID" %>
<%= text_field_tag :email_id, nil, class: 'form-control' %>  <br />

<%= label_tag :password, "Password" %>
<%= text_field_tag :password, nil, class: 'form-control' %>  <br />

<%= submit_tag "Login", class: "button CreateAccount" %>  <br />

<% end %>

<p>
<h3>Not a Member!! Sign Up Here</h3>
<%= button_to "Signup", seller_new_path, :method => "get" %>
</p>
